<div class="container .text-center mt-5">
  <h1>Stupid Coaching</h1>
  <h2 class="px-5"> ...ask your coach anything</h2>
  <form action="/answers" method="get" data-turbo="false" style="margin-top: 30px;">
    <input type="text" name="question" style="width: 500px; padding-righ: 10px; height: 36px;" placeholder="What is your question?">
    <input type="submit" class="btn btn-dark" value="Ask" style="width: 100px;">
  </form>
</div>
